contents.xcworkspacedata
.tuist-generated
Keysmith.xcscheme
project.pbxproj
xcschememanagement.plist
UserInterfaceState.xcuserstate
Keysmith-Workspace.xcscheme
WorkspaceSettings.xcsettings
IDEWorkspaceChecks.plist
